<!DOCTYPE html>
<html>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>

<script type="text/template" id="menu-template">
<div class="menu">
  <span class="title"><%-title%>
  <ul>
  <% items.forEach(function(item) { %>
    <li><%-item%></li>
  <% }); %>
  </ul>
</div>
</script>

<script>
  var tmpl = _.template(
    document.getElementById('menu-template').innerHTML,
    {sourceURL: '/template/menu-template'}
  );
 
  var result = tmpl({ title: "Заголовок" });

  document.write(result);
</script>

</body>
</html>

