form {
  border:solid gray 1px;
  margin:10px;
  padding:10px;
}

#kinput {
  font-size:150%;
  width:600px;
}

#text {
  width:600px;
  border:1px solid black;
  display: block;
}

form label {
  display: inline;
}
