.calendar-table {
  border-collapse: collapse;
}

.calendar-table td,
.calendar-table th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.calendar-table th {
  font-weight: bold;
  background-color: #E6E6E6;
}

.date-cell:hover {
  background: #eee;
  cursor: pointer;
}

.date-cell.selected {
  background: #0F0;
}

.calendar-table caption {
  text-align: center;
}