
.menu::before {
  content: '☞';
  font-size: 16px;
  float: left;
}


.menu.open::before {
  content: '☟';
}

.menu a {
  text-decoration: none;
  color: black;
  display: block;
}

.menu > a {
  display: inline;
}

.menu a {
  padding: 3px 5px;
  white-space: nowrap;
}

li.active > a {
  background: blue;
  color: white;
}

.menu ol {
  margin: 0;
  padding: 3px 0;
  list-style: none;
  display: none;
  background: #eee;
  border: 1px solid black;
  position: absolute;
}

.menu.open > ol {
  display: block;
  margin-left: 16px;
}

.menu li.has-children > a::after {
  content: ' >';
}

.menu li.active > ol {
  display: block;
}
