.datepicker {
  border: 1px solid black;
  width: 350px;
}

.datepicker .body {
  clear: both;
  background: red;
}

.datepicker .prev-link {
  float: left;
  cursor: pointer;
}

.datepicker .next-link {
  float: right;
  cursor: pointer;
}

.datepicker .prev-link:hover,
.datepicker .next-link:hover {
  color: red;
}

.datepicker .header {
  padding: 5px;
  font-size: 120%;
}

.datepicker .calendar-left-holder {
  float: left;
}

.datepicker .calendar-right-holder {
  float: right;
}

.datepicker .title {
  text-align: center;
}