.hours {
  color: red;
}

body {
  margin: 0;
}

.minutes {
  color: green;
}

.seconds {
  color: blue;
}

.clock {
  border: 1px dashed black;
  padding: 5px;
  display: inline-block;
  background: yellow;
  position: absolute;
  left: 0;
  top: 0;
}

#tooltip {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  z-index: 100000;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
