.slider {
  margin: 5px;
  width: 310px;
  height: 15px;
  border-radius: 5px;
  background: #E0E0E0;
  background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
}

.thumb {
  position: relative;
  top: -5px;
  width: 10px;
  height: 25px;
  border-radius: 3px;
  background: blue;
  cursor: pointer;
}