
.menu ul {
  display: none;
  margin: 0;
}

.menu .title {
  font-weight: bold;
  cursor: pointer;
  background: url(http://js.cx/clipart/arrow-right.png) left center no-repeat;
  padding-left: 18px;
}

.menu.open ul {
  display: block;
}

.menu.open .title {
  background-image: url(http://js.cx/clipart/arrow-down.png);
}