<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="menu.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
  <script src="menu.js"></script>
</head>
<body>

<script type="text/template" id="menu-template">
<div class="menu">
  <span class="title"><%-title%></span>
</div>
</script>

<script type="text/template" id="menu-list-template">
<ul>
  <% items.forEach(function(item) { %>
  <li><%-item%></li>
  <% }); %>
</ul>
</script>

<script>
var menu = new Menu({ 
  title: "Сладости",
  template: _.template($('#menu-template').html()),
  listTemplate: _.template($('#menu-list-template').html()),
  items: [
    "Пончик", // donut
    "Пирожное", // cake
    "Шоколадка", // chockolate
  ]
});

$(document.body).append(menu.getElem());
</script>

</body>
</html>

