.notification {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
  background: white;
  text-align: center;
}

.welcome {
  background: #b80000;
  color: yellow;
}
