#view, #area {
  height:150px;
  width:400px;
  font-family:arial;
}

#view {  
  /* padding + border = 3px */
  padding: 2px; 
  border:1px solid black; 
}

#area {
  display:none;
  
  /* replace padding with border (still 3px not to shift the contents) */
  border: 3px groove blue;  
  padding: 0px;
}
#area:focus { 
  outline: none; /* remove focus border in Safari */
}
